/*Main body css*/
html,body{
	background-color:white;
	margin: 0;
	font-family: open-sans sans-serif;
}

/*Give Parralax or Floating image view to background image on whole page*/
.parallax{

    /* The image used */
    background-image: url("../images/testimonials/back_feedback.jpg");

    /* Set a specific height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header | Nav bar css*/
nav {
	padding-top: 25px;
	width: 100%;
	height: 75px;
	background-color: rgba(138, 196, 139, .7);
	position: fixed;
	top: 0;
	z-index: 10;
}
#logo {
	width: 10%;
	float: left;
}
button {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
}
button {
	display: none;
}
#navigation {
	width: 90%;
	float: right;
}
#navigation ul li:hover {
	background-color: black;
}
#navigation {
	position: static;
}
#navigation ul {
	display: block;
}
ul#topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}
ul#topnav {
	background: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul#topnav li,
ul#topnav li.right {
	float: left;
}

/*Main section css*/
.testimonials{
	padding-top: 150px;
	height: 800px;
	width: 100%;
	margin-left: 50px;
}
.test_class{	
	float: left;
}
.test_box{
	padding: 1em;
	background: rgba(0, 0, 0, 0.64);
	height: 300px;
	width: 400px;
	border-radius: 15px 50px;
	color: white;
	font-size: 1.2em;
	padding: 1.2em;
	margin: 10px;
}
h2{
	color: white;
	text-align: center;
	font-size: 3em;
	font-family: 'Merienda One', cursive;
}
.img_div{
	width: 100%;
	margin-left: 100px;
}
.img_block{
	border-radius: 100%;
	margin-top: 20px;	
	float: left;
}
.img_txt{
	color: white;
	padding: 25px 15px 10px 70px;
	margin-top: 30px;
	font-size: 1.5em;
}

/*Footer css*/
footer{
	position: absolute;
	height: 300px;
	width: 100%;
    background-color: #8ac48b;
}
.foot_txt{
	color: white;
	font-size: 1.3em;
	font-weight: bold;
}
.foot_t1{
	margin-left: 200px;
	float: left;
	margin-top: 30px;
	margin-right: 100px;
}
.foot_t1 td{
	font-size: 1.1em;
	color: #555555;
	padding-right: 10px;
	padding-top: 30px;	
}
.foot_t2{
	float: left;
	width: 350px;
	margin-top: 30px;
	margin-right: 100px;
}
.foot_t2 img{
	padding-top: 30px;
	padding-left: 80px;
}
.foot_t3{
	width: 350px;
	margin-top: 30px;
	float: left;
}
.foot_t3 td{
	padding-top: 30px;
}
.foot_t3_1{
	display: none;
}
.copyright_text{
	position: absolute;
	text-align: center;
	font-style: italic;
	width: 100%;
	bottom: 0;
}
.copyright_text a{
	text-decoration: none;
}

/*Responsive CSS 1280 pixel Landscape View*/
@media only screen and (max-width: 1280px) {

	/*Header | Nav bar css*/

	/*Main section css*/
	.parallax{
		height: 1600px;
	}
	.testimonials{
		height: 1200px;
	}
	.img_div{
		margin-right: 350px;
	}

	/*Footer css*/
	footer{
		height: 325px;
	}
	.foot_t1, .foot_t2, .foot_t3{
		width: 275px;
		margin-top: 30px;
		margin-left: 90px;
		padding-bottom: 30px;
		margin-right: 60px	;
	}
	.foot_t2 img{
		padding-left: 60px;
	}
}	

/*Responsive CSS Tablet mode Landscape View*/
@media only screen and (max-width: 1024px) {

	/*Header | Nav bar css*/

	/*Main section css*/
	.parallax{
		height: 1800px;
	}
	.testimonials{
		height: 1200px;
	}

	/*Footer css*/
	footer{
		height: 325px;
	}
	.foot_t1, .foot_t2, .foot_t3{
		width: 275px;
		margin-top: 30px;
		margin-left: 30px;
		padding-bottom: 30px;
		margin-right: 30px;
	}
	.foot_t2 img{
		padding-left: 60px;
	}
}	

/*Responsive CSS Tablet mode Portrait View*/
@media only screen and (max-width: 812px){
	.parallax{
		height: 1500px;
	}

	/*Header | Nav bar css*/

	/*Main section css*/
	.parallax{
		height: 1800px;
	}
	.testimonials{
		height: 1600px;
		margin-left: 0px;
	}
	.test_box{
		width: 480px;
		margin-left: 120px;
	}
	.img_div{
		margin-left: 250px;
	}
	.img_block{
		margin-top: 0px;
	}
	.img_txt{
		margin-top: 0px;
		padding: 10px 15px 35px 70px;
	}

	/*Footer css*/
	footer{
		height: 800px;
	}
	.foot_t1, .foot_t2, .foot_t3{
		width: 100%;
		margin-top: 50px;
		margin-left: 50px;
		padding-bottom: 30px;
	}
	.foot_txt{
		text-align: left;
	}
}	

/*Responsive CSS Phone mode Landscape View*/
@media only screen and (max-width: 740px){
	.parallax{
		height: 1500px;
	}

	/*Header | Nav bar css*/

	/*Main section css*/
	.parallax{
		height: 1800px;
	}
	.testimonials{
		height: 1600px;
		margin-left: 0px;
	}
	.test_box{
		margin-left: 120px;
	}
	.img_div{
		margin-left: 250px;
	}
	.img_block{
		margin-top: 0px;
	}
	.img_txt{
		margin-top: 0px;
		padding: 10px 15px 35px 70px;
	}

	/*Footer css*/
	footer{
		height: 800px;
	}
	.foot_t1, .foot_t2, .foot_t3{
		width: 100%;
		margin-top: 50px;
		margin-left: 50px;
		padding-bottom: 30px;
	}
	.foot_txt{
		text-align: left;
	}
}	

/*Responsive CSS Phone mode*/
@media only screen and (max-width: 600px) {
	.parallax{
		height: 2000px;
	}

	/*Header | Nav bar css*/
	button{
		display: block;
	}
	#navigation ul {
		display: none;
	}
	ul#topnav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	ul#topnav li {
		float: none;
	}
	ul#topnav li.right {
		float: none;
	}

	/*Main section css*/
	.testimonials{
		height: 1600px;
		margin-left: 0px;
		font-size: 0.8em;
	}
	.test_box{
		width: 260px;
		margin: 30px;
	}
	.img_div{
		margin-left: 90px;
	}
	.img_block{
		margin-top: 0px;
	}
	.img_txt{
		margin-top: 0px;
		padding: 10px 15px 35px 70px;
	}


	/*Footer css*/
	footer{
		height: 1000px;
	}
	.foot_t1, .foot_t2, .foot_t3_1{
		float: none;
		width: 230px;
		margin-left: 90px;
		margin-top: 50px;
	}
	.foot_t1 td{
		padding-right: 30px;
		font-size: 1em;
	}
	.foot_t2 img{
		padding-right: 60px;
		padding-left: 0px;
	}
	.foot_t3{
		display: none;
	}
	.foot_t3_1{
		display: block;
	}
	.foot_t3_1 td{
		padding-top: 30px;
		padding-right: 40px;
		font-size: 0.9em;
	}
	.foot_txt{
		font-size: 1em;
	}
	.foot_txt_1{
		color: white;
		font-size: 1em;
		text-align: left;
		font-weight: bold;
	}
	.copyright_text{
		font-size: 0.7em;
	}

}